*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poiret One;
} 

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Poiret One;
    scroll-behavior: smooth;
    
}
html::-webkit-scrollbar{
    width: 11px;
    background-color: rgb(229, 214, 214);
}
html::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--primary-color);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body{ 
    background-color: var(--pink-blur);
}
:root{
    --primary-color: linear-gradient(-135deg,#fd8970,#f7484a);
    --white-color: #fff;
    --black-color:#000;
    --text-color:#333;
    --border-color: #dbdbdb;
    --primary-color-text:#f7484a;
    --best-saler-color:rgb(10, 168, 10);
    --sale-color:rgb(233, 52, 52);
    --star-gold-color:rgb(255, 247, 12);
    --pink-blur:#feecec;
    --pink-blur-more:#fff1f1;
    --navbar-height:34px;
    --header-height:120px;
    --header-with-search-height: calc(  var(--header-height) - var(--navbar-height) );
}
.no-padding{
    padding: 0 !important;
}
.btn{ 
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn.btn--primary{
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
}

.border-btn-s{
    background-color: var(--white-color);
    color: #f7484a;
    height: 30px;
    border-radius: 50px;
    line-height: 30px;
    padding: 0 10px;
}
.border-btn-m{
    cursor: pointer;
    background-color: var(--white-color);
    color: #f7484a;
    height: 30px;
    border-radius: 50px;
    line-height: 30px;
    padding: 0 10px;
}
.border-btn-m--hover{
    cursor: pointer;
    height: 30px;
    border-radius: 50px;
    line-height: 30px;
    padding: 0 10px;
    margin-left: 10px;
    border: 1px solid var(--white-color);
    color: var(--white-color);

}
.border-btn-m--hover:hover{
    transition: all ease 0.3s;
    background-color: var(--white-color);
    color: #f7484a;
    border-radius: 50px;
    
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to
    {
        transform: scale(var(--growth-to));

    }
}


