a{
    text-decoration: none;  
}
.loading{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--pink-blur);
    z-index: 9999;
   
}
.loading-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
}
.loading-box i{
   position: absolute;
   top: 66px;
   left: -10px;
   font-size: 1.6rem;
   font-weight: bold;
   letter-spacing: 2px;
   color: var(--primary-color-text);
}
.loading_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transform: rotate( calc(var(--value) *45deg));
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loading_div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color-text);
    animation: loading 1s infinite linear;
    animation-delay: calc(var(--value) *0.125s);
    z-index: 999;

}
@keyframes loading {

    to{
       transform: scale(0);
    }
}
.header__scroll-info{
    padding: 7px 0;
    background: var(--primary-color);
}
.header__scroll-info-more{
    display: flex;
    justify-content: space-between;
}
.scroll__info-list{
    display: flex;
    list-style: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: bold   ;
}
.header__scroll-info-link{
    text-decoration: none;
    color: var(--white-color);
}
.header__scroll-user{
    display: flex;
    align-items: center;
}
.scroll-user-img{
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.scroll-user-img img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.header__navbar-icon-link{
    text-decoration: none;
    color: white;
}
.scroll-user-name{
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: bold;
}
.header__scroll-info-connect{
    padding-left: 10px;
}
.header__scroll-logo-img{
    height: 70px;;
}
.header__scroll-info-logo{
    padding: 7px 0;
    background-color: var(--white-color);
}
.header__scroll-with-search{
    height: 70%;
    position: relative;
}
.header__scroll-with-search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    
}
.header__scroll_sudnav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__scroll_sudnav-icon{
    font-size: 2.4rem;
}
.header__scroll-logo-name{
    font-size: 3rem;
    border-left: 1px solid var(--primary-color-text);
    position: relative;
    bottom: 25%;
    left: 30px;
    padding-left: 10px;
    color: var(--primary-color-text);
    
}
.header__scroll-with-search{
    height: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--primary-color-text);
    border-radius: 5px;
    overflow: hidden;
}
.header__scroll-with-search-input{
    outline: none;
    height: 100%;
    position: absolute;
    width: 95%;
    border: none;
    padding-left: 10px;
    font-size: 1.8rem;
    font-weight: bold;
}
.header__scroll-with-search-icon{
    padding-left: 5px;
    padding-bottom: 5px;    
}
.container__modyfi-heading
{
    font-size: 1.6rem;
}
.container__modyfi-check{
    display: flex;
    align-items: center;
}
.container__modyfi-name{
    font-size: 2rem;
    padding-left: 10px;
}
.container__modyfi{
    background-color: var(--white-color);
    padding: 17px 40px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
}
.brand-shop-product{
    background-color: var(--white-color);
    margin-top: 20px;
    padding: 5px 10px;
}
.brand-shop-product-info{
    display: flex;
    align-items: center;
    height: 57px;
    font-size: 2rem;
    border-bottom: 1px solid rgba(0,0, 0,0.1);
    color: var(--primary-color-text);
}
.brand-shop-product-name{
    font-weight: bold;
    padding-left: 8px;
}
.brand-shop-product-info-icon{
    padding: 0 10px;
}
.brand-shop-product-img{
    width: 75px;
    height: 75px;
    border: 1px solid rgba(0,0, 0,0.2);
    margin-left: 10px;
}
.brand-shop-product-image{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.brand-shop-product-image-info{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.brand-shop-product-image-info{
    display: flex;
    align-items: center;
    height: 100%;
}
.brand-shop-product-content{
    padding: 10px 0;
}
.brand-shop-product-image-name{
    flex: 2;
    font-size: 1.4rem;
    text-align: left;
    color: var(--text-color);
    margin: 0 0 0 10px;
    max-height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    
}
.brand-shop-product-type{
    flex: 1;
    padding-left: 20px;
    font-size: 1.8rem;
    color: black;
}
.brand-shop-product-Operation{
    color: var(--primary-color-text);
}
.brand-shop-product-Quantity-btn{
    margin: 0 6px;
    border: none;
    background-color: transparent;
    
}
.home__product-contact{
    background-color: var(--primary-color-text);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}
/* Contact product */
.home__product-contact-category{
    background-color: var(--primary-color-text);
    padding: 10px 0;
}
.home__product-contact_heading{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-color);
    padding-bottom: 10px;
}
.home__product-contact-sudmit{
    background-color: var(--white-color);
    position: relative;
    height: 30px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 5px;
}
.home__product-contact-icon{
    font-size: 1.7rem;
    color: var(--white-color);
    padding:10px 10px 0 0 ;

}
.home__product-contact-decription{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white-color);
    padding-bottom: 10px;
}
.home__product-contact-sudmit-input{
    position: absolute;
    height: 100%;
    width: 70%;
    outline: none;
    border-top: none;
    border-bottom: none;
    border-right:none ;
    border-left: 2px solid var(--primary-color-text);
    padding-left: 10px;
    font-size: 1.7rem;
    font-weight: bold;
}
.home__product-contact-sudmit-btn{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    border: none;
    background: var(--primary-color);
    color: var(--white-color);
}
span.home__product-contact-btn{
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--white-color);
    background-color: transparent;
    letter-spacing: 0.2rem;
}
span.home__product-contact-btn:hover{
    background: var(--white-color);
    color: var(--primary-color-text);
}
.home__product-contact-sudmit-sign-btn{
    padding: 5px 10px;
    border: 1px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 3px;
    transition: all 0.2s linear;
}
.home__product-contact-sudmit-sign-btn:hover{
    background-color: var(--white-color);
    color: var(--primary-color-text);
}

/* footer */
.footer__info{
    background-color: #ac393b;
}
.footer__info img{
    height: 70px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0 20px;
}
.footer__info-heading{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-color);
    padding-left: 5px;
}
.footer__info-list{
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    padding-left: 20px;
}
.footer__info-item{
    line-height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 7px;
    transition: all 0.1s linear;
    cursor: pointer;
}
.footer__info-item-link{
    text-decoration: none;
    color: var(--white-color);
}
.footer__info-item-link:hover{
    color: var(--white-color);
    opacity: 0.8;
}
.footer__license{
    text-align: center;
    padding-bottom: 20px;
}
.footer__license span{
    font-size: 1.7rem;
    color: var(--white-color);
}
.footer__license-link{
    font-size: 1.4rem;
    padding-left: 20px;
    color: var(--white-color);
}

.home__product-buy-cart-item{
    background-color: var(--white-color);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.home__product-buy-cart-select{
    display: flex;
    align-items: center;
    height: 100%;
}
.home__product-buy-cart-buys{
    float: right;
}
.home__product-buy-cart-buys-btn{
    height: 50px;
    width: 210px;
    background-color: var(--primary-color-text);
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}
.buy-cart-select-all{
    font-size: 1.8rem;
    padding-left: 10px;
    font-weight: bold;
}
.buy-cart-select-delete{
    font-size: 1.8rem;
    padding-left: 30px;
    font-weight: bold;
}
/* ========== modal ============ */
.header__modal-over-play{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0, 0,0.3);
    z-index: 2;
    display: none;
}
.header__modal-body{
    background-color: var(--pink-blur);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 3;
    display: none;
}
.header__modal-body-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: red;
    z-index: 5;
}
.header__scroll_sudnav{
    height: 100%;
}
.header__modal-btn-open:checked ~ .header__modal-over-play{
    display: block;
}
.header__modal-btn-open:checked ~ .header__modal-body{
    display: block;
}
.header__modal-btn-open:checked ~ .header__modal-body-icon{
    display: none;
}
.home__product-contact_heading-icon-link{
    text-decoration: none;
}
.brand-shop-product-content-link{
    text-decoration: none;
}
.brand-shop-product-unit-price{
    color: black;
}