/* loading */
.loading{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--pink-blur);
    z-index: 9999;
   
}
.loading-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
}
.loading-box i{
   position: absolute;
   top: 66px;
   left: -10px;
   font-size: 1.6rem;
   font-weight: bold;
   letter-spacing: 2px;
   color: var(--primary-color-text);
}
.loading_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transform: rotate( calc(var(--value) *45deg));
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loading_div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:var(--primary-color-text);
    animation: loading 1s infinite linear;
    animation-delay: calc(var(--value) *0.125s);
    z-index: 999;

}
@keyframes loading {

    to{
       transform: scale(0);
    }
}
/* Header */
.header{ 
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background:var(--primary-color);
    z-index: 3;
}
.header__scroll{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-image:var(--primary-color);
    z-index: 3;
}
.header__navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.header__logo-sud-nav {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.header__logo-sud-nav img{
    margin-top: 50px;
    height: 100px;
}
.header__navbar-item-no-pointer{
    cursor: default;
} 
.header__logo img{
    width: 100%;
    height: 70px;
}
.header_navbar-items{
    height: 30px;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight:bold;
    list-style: none;
    display: inline-block;
}
.header_navbar-items:first-child{
    padding-right: 10px;
}
.header_navbar-items:last-child{
    padding-left: 10px;
}

.header__navbar-list{
    display: flex;
    
}
.header__navbar-icon-link{
    text-decoration: none;
    color: var(--black-color);
}
.header_navbar-items-socials{
    color: var(--white-color);
}
.header_navbar-items-socials span{
    border-left: 1px solid var(--border-color);
    padding-left: 10px;
}
.header__navbar-icon {
    color: var(--white-color);
}
.header__navbar-icon:hover {
    color: #ebebeb;
}
.header_navbar-user{
    font-size: 2rem;
}
/* Thanh tìm kiếm - header - with - search  */
.header-with-search{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__navbar-search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.header__search-input{
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem ;
    color: var(--text-color);
    padding: 0 16px;
    font-family: Poiret One;
    border-radius: 3px;
    font-size: 1.6rem;
    font-weight: bold;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-button{
    cursor: pointer;
    background-color: #f7484a;
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
}
.header_navbar-register{
    height: 40px;
    color: var(--white-color);
}
.header_navbar-register:hover{
    color: var(--primary-color-text);
}
.header__search-button-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
/* histoey search - lịch sử tìm kiếm  */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #999;
    border-radius: 3px;
    overflow: hidden;
    display: none;
    z-index: 1;
}
.header__search-input:focus ~.header__search-history{
    display: block;
}
.header__search-history-heading{
    margin: 6px 8px;
    font-size: 1.4rem;
    color: #999;
    font-weight: bold;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}
.header__search-history-items{
    height: 36px;
    padding: 0 12px;
    font-weight: bold;
}
.header__search-history-items:hover{
    background-color: #fafafa;
}
.header__search-history-items a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 36px;
    display: block;
}
/* cart item */
.header__cart{
    width: 100px;
    text-align: right;   
    position: relative;
}
.header__cart-list{
    position: absolute;
    width: 400px;
    top: calc(100% + 5px);
    right: -10px;
    background-color: var(--white-color);
    border-radius: 2px;
    font-weight: bold;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadein ease 0.2s;
    cursor: default;
    z-index: 1;
}
.header__cart-list::before{
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top:-10px;
    left: 0;
    z-index: 1;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    right: 2px;
    top: -26px;
    border-width:  16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent  ;
    cursor: pointer;
}
.header__cart-wrap{
    position: relative;
    display: block;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    height: 4rem;
}
.header__cart-wrap-link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header__cart-heading{
    text-align: left;
    margin: 10px 0 8px 12px ;
    font-size: 1.4rem;
    color: var(--primary-color-text);
    font-weight: bold;
}
.header__cart-list-items{
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto;
    margin: 0;
}
.header__cart-items{
    display: flex;
    align-items: center;
    background-color: var(--pink-blur);
    transition: all linear 0.2s;
}
.header__cart-img{
    border: 1px solid var(--border-color);
    width: 42px;
    height: 42px;
    margin: 12px;
}
.header__cart-items-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-info{
    width: 100%;
    margin-right: 12px;
    
}
.header__cart-items-name{
    flex: 1;
    font-size: 1.4rem;
    text-align: left;
    color: var(--text-color);
    margin: 0;
    max-height: 4rem;
    line-height: 2rem;
    padding-right: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.header__cart-items-price{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color-text);
}
.header__cart-items-mutify{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-items-qnt{
    font-size: 1.2rem;
    color: #757575;
    font-weight: bold;

}
.header__cart-items-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-items-drecription{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
    font-weight: bold;
}
.header__cart-items-remove{
    color: var(--text-color);
    font-size: 1.4rem;
}
.header__cart-items:hover{
    background-color: #fffbfb;
}
.header__cart-items-remove:hover{
    color:var(--primary-color-text);
    cursor: pointer;
}
.header__cart-view-cart{
    display: flex;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

}
.header__cart-view-cart i{
    padding: 0 10px;
}
.header__cart-buys-cart{
    color: var(--primary-color-text);
    text-decoration: none;
}
.header__cart-number{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 8px;
    top: -3px;
    right: -10px;
    font-weight: 600;
    color: var(--primary-color-text);
    border: 1px solid var(--primary-color-text);
    z-index: 1;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header__cart-icon{
    font-size: 2.6rem;
    color: var(--white-color);
    margin-top: 6px;
}
.header__navbar-nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 5px;
}
.header__navbar-nav-items{
    cursor: pointer;
    height: 40px;
    position: relative;
    line-height: 40px;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 0 10px;
    color: var(--white-color);
}
.header__navbar-nav-items::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0px;
    height: 3px;
    transform: translate(-50%,0);
    transition: width 0.2s ease-in-out;
    background-color: var(--white-color);
}
.header__navbar-nav-items:hover::before{
    content: "";
    width: 100%;
    height: 3px;
}

.header__ul-nav-list{
    position: absolute;
    width: 110%;
    background-color: rgb(241, 241, 241);
    top:120%;
    left: 0;
    padding: 0 10px;
    box-shadow: 0 0 7px #ccc;
    display: none;
    animation: fadein ease 0.3s;
    z-index: 1;
}
.header__ul-nav-list::before{
    content: "";
    background-color: transparent;
    width: 100%;
    top:-20px;
    left: 0;
    height: 20px;
    position: absolute;
}
.header__navbar-nav-items:hover .header__ul-nav-list{
    display: block;
}

.header__li-nav-items{
    color: #f7484a;
    padding-left: 10px;
    margin: 5px;
    font-size: 1.6rem;
    line-height: 30px;
    position: relative;
    list-style: none;
}
.header__li-nav-items::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #fd866f;
    transition: width 0.2s ease-in;
}
.header__li-nav-items:hover::before{
    content: "";
    width: 100%;
    height: 3px;
}
.header__li-nav-items a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: var(--primary-color-text);
}
.header__navbar-nav_tablet-mobile{
    display: none;
}
.nav__bar-btn-icon{
    font-size: 30px;
    color: #fff;   
    display: block;
    padding-right: 20px;
    padding-left: 8px;
}   
.nav__over-play{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0,0, 0.3);
    display: none ;
    animation: fadein linear 0.2s;
    z-index: 1;
}
.header__navbar-nav_tablet-mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: var(--primary-color);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    display: block;
    z-index: 1;
}
.header__navbar-nav-list_mobile{
    padding-top: 30px;
    display:inline-block ;
}
.nav__bar-btn-icon-box{
    font-size: 30px;
    color: #fff;   
    display: block;
    position: absolute;
    right:20px;
    top: 10px;
}
.header__ul-nav_mobil-tablet{
    display: block;
}
.header__navbar-nav-items_mobile-tablet{
    cursor: pointer;
    height: 40px;
    position: relative;
    line-height: 40px;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;
    text-transform: uppercase;
    padding:  10px;
    margin: 10px;
    color: var(--white-color);

}
.header__navbar-list_mobile-tablet{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.nav__input:checked ~ .nav__over-play{
    display: block;
}
.nav__input:checked ~ .header__navbar-nav_tablet-mobile{
    transform: translateX(0%);
    opacity: 1;
}
.nav__bar-btn{
    display: none;
}
.header__navbar-nav-items-link{
    text-decoration: none;
    color: var(--white-color);
}
.header__navbar-nav-items-link:hover{
    color:var(--white-color);
}
/* sider */
.carousel{
    width: 85%;
    margin: 15px auto 20px auto;
}

.carousel-item {
    height: 510px;
}
.carousel-item img{
    height: 100%;
}
/* ==================== */
.body__link{
    font-size: 2rem;
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 10px 5px;
}
.body__link a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}
.category{
    background-color: #fff;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    color: var(--primary-color-text);
}
.category h3{
    font-size: 2rem;
    padding-bottom: 10px;
    
}
.category__heading-icon {
    font-size: 16px;
}
.category__list{
    list-style: none;
    margin: 0;
    color: #000;
}
.category__item{
    font-size: 1.8rem;
    padding: 7px 0 7px 22px;
    position: relative;
    left: 0;
    transition: all linear 0.1s;
}
.category__item:hover{
    left: 4px;
    color: var(--primary-color-text);
}
/* Danh mục phân miền  */
.home__product-brand{
    width: 100%;
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 3px;
    margin: 20px 0 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.home__product-brand-link{
    text-decoration: none;
    display: block;
    padding: 10px 0px 0px 30px;
    color: #000;
    transition: all linear 0.1s;
}
.home__product-brand-link:hover{
    color: var(--primary-color-text);
}
.home-product_brand-heding{
    font-weight: bold;
}
/* glass - lớp phủ  */
.home__product-item{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all linear 0.2s;

}
.home__product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);   
}

.home__product-item:hover .home__product-item-glass{
    display: block;
}
.home__product-item:hover .home__product-item-info{
    filter: blur(2px);
}

.glass{
    position: relative;
}
.home__product-item-glass{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255,255, 0.5);
    border-radius: 2px;
    border: 1px solid #fff;
    z-index: 1;
    display: none;
    
}
.item-glass-more{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(49, 46, 46);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.glass-center{
    color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.item-glass-more-icon{
    color: var(--white-color);
    display: block;
    
}
/* =========================================== */

/* Product */

.product__item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product__name{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin:  10px 10px 6px;
    overflow: hidden;
    text-align: center;
    /* dùng để rút gọn thành 2 dòng bằng dấu 3 chấm */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item__price{
    align-items: baseline;
    flex-wrap: wrap;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
}
.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.5rem;
    color:#666;
    text-decoration: line-through;
}
.home-product-item_price-current{
    font-size: 1.8rem;
    color: var(--primary-color-text);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px  ;
    padding-bottom: 5px;
}
.home-product-item__like{
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill {
    display: none;
    color: rgb(220, 23, 23);
}


.item__like-fill{
    display: none;
}
.item__item-checked:checked~.item__like-fill{
    display: inline-block;
    color: var(--sale-color);

}
.item__item-checked:checked~ .item__like-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin-left:-1px 0 0 auto;
}
.home-product-item__rating-active{
    color: var(--star-gold-color);
}
.home-product-item__rating-gold {
    color: var(--star-gold-color);
}
.home-product-item__favorite{
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var( --best-saler-color);
    background-color: currentColor;
    padding: 4px;
    border-radius: 5px;
    
}
.home-product-item__favorite span{
    color: var(--white-color);
}
.home-product-item__favorite::before{
    content: "";
    position: absolute;
    left: 10px;
    bottom: -7px;
    border-top: 7px solid currentColor;
    border-left: 7px solid transparent;

}
.home-product-item__sale-off{
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--sale-color);
    background-color: currentColor;
    padding: 4px;
    border-radius: 5px;

}
.home-product-item__sale-off::before{
    content: "";
    position: absolute;
    right: 10px;
    bottom: -7px;
    border-top: 7px solid currentColor;
    border-right: 7px solid transparent;

}

.home-product-item__sale-off-label{
    color: var(--white-color);
}
/* AD - brand */
.home__product-ad-heading{
    font-size:4rem ;
}
.home__product-ad-decription{
    font-size: 1.8rem;
    font-weight: bold;
}
.home__product-ad-img{
    /* height: 490px; */
    text-align: center;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 10px;
}
.home__product-ad-info{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home__product-ad-solgan{
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    color: var(--primary-color-text) ;
}
/* ======================================= */

/* model - ad */
.product-model-img{
    padding-top: 125%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.prouct-model-heading{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 1.8rem;
    margin:  10px 10px 6px;
    overflow: hidden;
    text-align: center;
    /* dùng để rút gọn thành 2 dòng bằng dấu 3 chấm */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}
.product-model-decription{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin:  10px 10px 6px;
    overflow: hidden;
    text-align: center;
    /* dùng để rút gọn thành 2 dòng bằng dấu 3 chấm */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.product-model-link{
    text-align: center;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
}
.home__product-model{
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
}
.home__product-model-ad{
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.model-ad-link{
    text-decoration: none;
}
/* ======================================= */

/* Logo - brand */
.home-logo-brand{
    background-color: #fff;
    margin-bottom: 20px;
}
.home-logo-link{
    text-decoration: none;
}
.logo-brand-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.logo-brand-heading{
    font-size: 2.6rem;
    display: block;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color-text);
}
.home-logo-brand__item{
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--pink-blur);
}
.logo-brand-more{
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 0 0px 20px;
    transition: all linear 0.1s;

}
.logo-brand-heading-link{
    text-decoration: none;
}
.logo-brand-heading-link:hover .logo-brand-more{
    color: var(--primary-color-text);
}
/* =============================== */

/* Bestseller */ 
#home__product-best-seller{
    background-color: var(--white-color);
    margin-bottom: 20px;
}
.home__product-best-seller-heading{
    background: var(--primary-color);
    padding: 10px 0;
    height: 100%;
}
.home__product-best-seller-item{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all linear 0.2s;
}
.home__product-best-seller-heading span{
    display: block;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: var(--white-color);
}
.home__product-best-seller-heading span.home__product-best-seller-heading-active{
    color: var(--text-color);
}
.home__product-best-seller-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home__product-best-seller-name{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin:  10px 10px 6px;
    overflow: hidden;
    text-align: center;
    /* dùng để rút gọn thành 2 dòng bằng dấu 3 chấm */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home__product-best-seller-item-link{
    text-decoration: none;
}
.home__product-best-seller-item-price{
    align-items: baseline;
    flex-wrap: wrap;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
}
.home__product-best-seller-item-price_old{
    margin-left: 10px;
    font-size: 1.6rem;
    color:#666;
    text-decoration: line-through;
}
.home__product-best-seller-item-price-curterant{
    font-size: 1.8rem;
    color: var(--primary-color-text);
    margin-left: 10px;
}

.home__product-best-seller-item-price-percent{
    color: var(--black-color);
    font-size: 1.6rem;
}
.home__product-best-seller-item-like{
    font-size: 1.5rem ;
    padding-left: 20px;
    color: var(--black-color);
}.home__product-best-seller-item-like span{
    padding: 0 5px;
    font-weight: bold;
}
.fa-heart{
    cursor: pointer;
}
.home__product-best-seller-item-rating {
    font-size: 1.4rem;
    padding-left: 20px;
    padding-bottom: 10px;
}
.home__product-best-seller-heading span.home__product-best-seller-heading-more{
    display: inline;
    font-size: 2rem ;
    border: 2px solid var(--white-color);
    padding: 5px 10px;   
    border-radius: 5px;
}
.home__product-best-seller-heading div{
    text-align: center;
    vertical-align: middle;

}
.home__product-best-seller-heading-more-link{
    text-decoration: none;
}
.home__product-AfterPay{
    width: 100%;
    margin-bottom: 20px;
}
.home__product-contact{
    background-color: var(--primary-color-text);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}
/* Contact product */
.home__product-contact_heading{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-color);
}
.home__product-contact-sudmit{
    background-color: var(--white-color);
    position: relative;
    height: 30px;
    width: 90%;
}
.home__product-contact-icon{
    font-size: 1.7rem;
    color: var(--white-color);
    padding:10px 10px 0 0 ;

}
.home__product-contact_heading-icon-link{
    text-decoration: none;
}
.home__product-contact-decription{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white-color);
}
.home__product-contact-sudmit-input{
    position: absolute;
    height: 100%;
    width: 70%;
    outline: none;
    border-top: none;
    border-bottom: none;
    border-right:none ;
    border-left: 2px solid var(--primary-color-text);
    padding-left: 10px;
    font-size: 1.7rem;
    font-weight: bold;
}
.home__product-contact-sudmit-btn{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    border: none;
    background: var(--primary-color);
    color: var(--white-color);
}
span.home__product-contact-btn{
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--white-color);
    background-color: transparent;
    letter-spacing: 0.2rem;
}
span.home__product-contact-btn:hover{
    background: var(--white-color);
    color: var(--primary-color-text);
}
.home__product-contact-sudmit-sign-btn{
    padding: 5px 10px;
    border: 1px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 3px;
    transition: all 0.2s linear;
}
.home__product-contact-sudmit-sign-btn:hover{
    background-color: var(--white-color);
    color: var(--primary-color-text);
}

/* footer */
.footer__info{
    background-color: #ac393b;
}
.footer__info img{
    height: 70px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0 20px;
}
.footer__info-heading{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-color);
    padding-left: 5px;
}
.footer__info-list{
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    padding-left: 20px;
}
.footer__info-item{
    line-height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 7px;
    transition: all 0.1s linear;
    cursor: pointer;
}
.footer__info-item-link{
    text-decoration: none;
    color: var(--white-color);
}
.footer__info-item-link:hover{
    color: var(--white-color);
    opacity: 0.8;
}
.footer__license{
    text-align: center;
    padding-bottom: 20px;
}
.footer__license span{
    font-size: 1.7rem;
    color: var(--white-color);
}
.footer__license-link{
    font-size: 1.4rem;
    padding-left: 20px;
    color: var(--white-color);
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadein linear 0.1s;
    display: none;
}
.modal__overplay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: growth linear 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Authen modal */
.auth-from-sign{
    display: none;
}
.auth-from-resign{
    display: none;
}
.auth-from-sign, .auth-from-resign{
    width: 500px; 
    background-color: var(--white-color);
    border-radius: 5px ;
    overflow: hidden;
}
.auth-from__container{
    padding: 0 32px;
}
.auth-from__header{
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-from__heading{
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color-text);
}
.auth-from__switch-btn{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
}
.auth-from__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;

}
.auth-from__group input{
    font-weight: bold;
}
.auth-from__input:focus{
    border-color: #888;
}
.auth-from__aside{
    margin-top: 10px;
}
.auth-from__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
    font-weight: bold;
}
.auth-from__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-from__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-from__controls-back{
    margin-right: 8px;
    transition: all 0.1s ease;
}
.auth-from__controls-back:hover{
    background: var(--primary-color);
    color: var(--white-color);
}
.auth-from__socials{
    background-color: #f3f3f3;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-from__socials-icon{
    font-size: 1.8rem;
}
.auth-from__socials--facebook{
    background-color: #2b4175;
    color: var(--white-color) !important;
}

.auth-from__socials--google{
    background-color: var(--white-color);
    color: #666;
}
.auth-from__socials-title{
    margin: 0 10px;
    font-weight: bold;
}
.auth-from__help{
    display: flex;
    justify-content: flex-end;

}
.auth-from__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-from__help-sparet{
    display: block;
    height: 22px;
    border-left: 1px solid var(--border-color);
    margin: -2px 16px 0;
}
.auth-from__help-fogot{
    color: var(--primary-color);
}
.auth-from__controls-back{
    font-weight: bold;
}
.auth-from-resign-close{
    width: 100%;
    font-size: 2rem;
    color: var(--black-color);
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
}
.auth-from-sign .auth-from-resign-close{
    padding: 0;         
}
.modal_btn_close:checked ~ .auth-from-sign{
    display: none;
}
.modal_btn_close:checked ~ .modal__overplay{
    display: none;
}
.modal_btn_close:checked ~ .auth-from-resign{
    display: block;
}
.modal_btn_close:checked ~.auth-from-resign-close{
    display: none;
}
.header_user-item-btn:checked ~ .modal__overplay{
    display: none;
}
.modal_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* =================================================================== */

/* product - item */
.product-point-only{
    font-size: 1.9rem;
    font-weight: bold;
    margin: 7px 0;
}
.product-point-only a{
    text-decoration: none;
    color: var(--primary-color-text);
}
.product-point-only span{
    color: var(--primary-color-text);
}
.product-item-review{
    background-color: var(--white-color);
    margin: 20px 0;
}
.product-item-review-img{
    display: block;
    text-decoration: none;
    position: relative;
    border-radius: 2px;
}
#product-item-review-img-frame{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.product-item-review-img-link{
    width: 100%;
}
.product-item-review-img-info{
    padding: 1.5rem;
}
.product-item-review-img-link-sud{
    width: 100%;
}
.review-img-name{
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 0;
    font-weight: bold;
}
.review-img-name-decription{
    font-size: 1.8rem;
    font-weight: bold;
}
.review-img-color-link{
    width: 100%;
}
.review-size-name{
    font-weight: bold;
}
.review-img-color-btn{
    min-width: 100px;
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid var(--primary-color-text);
    color: var(--primary-color-text);
    margin: 6px 2px;
}
.review-size-name-btn-number{
    font-size: 1.5rem;
    background-color: rgb(242, 242, 242);
    min-width: 60px;
    margin: 9px;
    padding-block:5px;
    border: none;
    color: var(--primary-color-text);
    font-weight: bold;
}
.review-size-name-btn-number:hover{
    background-color: var(--primary-color-text);
    color: var(--white-color);
}
.product-item-review-price-new{
    font-size: 3.5rem;
    color: var(--primary-color-text);
}
.product-item-review-price-old{
    font-size: 2.5rem;
    text-decoration: line-through;
}
.product-item-review-free-ship{
    font-size: 1.6rem;
    margin: 3px;
    display: inline;

}
.product-item-review-free-ship span{
    padding: 5px 10px;
    background-color: rgb(88, 212, 217);
    color: var(--white-color);
    font-weight: bold;
    border-radius: 3px;
}
.review-img-bestseller-link{
    text-decoration: none;
}
.review-img-bestseller{
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--sale-color);
    color: var(--white-color);
    margin: 3px;
    padding: 5px 10px;
    border-radius: 3px; 
}
.review-img-distcount{
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--best-saler-color);
    color: var(--white-color);
    margin: 3px;
    padding: 5px 10px;
    border-radius: 3px; 
}
.review-img-color-name{
    font-size: 2rem;
    font-weight: bold;
}
.review-buy-product-btn{
    border: none;
    min-width: 250px;
    padding: 8px 5px;
    font-weight: bold;
    font-size: 2.4rem;
    margin-top: 10px;
}
.review-buy-product-btn-add{
    background-color:transparent;
    border: 2px solid var(--primary-color-text);
    color: var(--primary-color-text);
    border-radius: 3px;
    transition: 0.2s linear all;
}
.review-buy-product-btn-add:hover{
    background-color: var(--primary-color-text);
    color: var(--white-color);
}
.review-buy-product-btn-buy{
    background-color: var(--primary-color-text);
    color: var(--white-color);
    border-radius: 3px;
}
.review-buy-product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.review-rating{
    margin-top: 20px;
    font-size: 2rem;
}
.rating-heart{
    padding: 0 10px;
    border-right: 2px solid var(--black-color);
}
.rating-star{
    padding: 0 20px;
    border-right: 2px solid var(--black-color);
}
.rating-comment{
    font-weight: bold;
    padding-left: 20px;
}
/* category */
.category__heading-content{
    font-size: 1.9rem;
    padding-left: 10px;
}
.category-sud-list{
    display: flex;
    list-style: none;
    margin: 0;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 0; 
}
.category-sud-item{
    padding: 8px 7px 8px 0;
    color: var(--primary-color-text);
    position: relative;
    cursor: pointer;
}
.category-sud-item:hover .category-sudnav-list{
    display: block;
}
.category-sudnav-list{
    transition: 0.3s linear;
    top: 30px;
    position: absolute;
    list-style: none;
    display: none;
    background-color: var(--white-color);
    z-index: 1;
    padding: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.category-sudnav-item{
    padding: 5px 15px;
}
/* brand page */
.brand_page{
    margin-bottom: 30px;
}
.background-brand-page{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.background-brand-page-info{
    width: 100%;
    height: 120px;
    background: var(--primary-color-text);
    position: relative;
    color: var(--white-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.background-brand-page-info-img{
    position: absolute;
    width: 170px;
    height: 170px;
    top: -80%;
    left: 10%;
}
.background-brand-page-info-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px var(--primary-color-text) ;
}
.background-brand-page-info-name-icon{
    align-items: center;
    font-size: 3rem;
    padding-left: 10px;
}
.background-brand-page-info-name{
    position: absolute;
    left: 30%;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-style: italic;
}
.background-brand-page-info-favorite{
    position: absolute;
    right:10%;
    width: 44px;
    height: 55px;
    color: var(--primary-color-text);
    background-color: rgb(231, 202, 35);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-brand-page-info-favorite::before{
    content: "";
    position: absolute;
    border-width: 40px ;
    border:11px solid ;
    border-color: rgb(231, 202, 35) transparent transparent rgb(231, 202, 35);
    bottom: -22px;
    left: 0;

}
.background-brand-page-info-favorite::after{
    content: "";
    position: absolute;
    border:11px solid ;
    border-color: rgb(231, 202, 35)  rgb(231, 202, 35) transparent transparent;
    bottom: -22px;
    right: 0;

}