.header{
   
}
.header__about-us{

}
.info_team{
   display: flex;
}
.info_team-view-person{
   width: 212px;
   height: 277px;
   position: relative;
}
.info_team-skew{
   position: absolute;
   bottom: 0px;
   left: 0;
   right: 0;
   height: 30px;
   background-color: red;
   transform: skewX(-30deg);
   z-index: 1;
}
.info_team-skew{
}
.info_team-img {
   position: absolute;

   width: 100%;
   height: 100%;
   object-fit: unset;
}
.info_team-content{

}